{% extends 'base.html.twig' %}
{% block title %}Корпоративным клиентам{% endblock %}
{% block description %}<meta name="description" content="Корпоративным клиентам">{% endblock %}

        {% block header %}
            {{ include('elements/header/header.html.twig') }}
        {% endblock %}

        {% block body %}
            {{ include('elements/blocks/hero.html.twig') }}

            <div class="section_text container">
                <div class="seo-text">
                    <h1 class="zag">Корпоративным клиентам</h1>
                    <p>Приветствуем Вас на сайте компании «Сервис Грац-Авто, Мерседес» и
                        приглашаем Вас к долгосрочному взаимовыгодному сотрудничеству.</p>
                    <p>Для юридических лиц мы предлагаем обслуживание автомобилей на индивидуальных условиях.</p>
                    <p>Работаем по 94-ФЗ и 223-ФЗ (участвуем в тендерах, аукционах, конкурсах).</p>

                    <h2 class="zag">Ваши преимущества:</h2>
                    <ul>
                        <li>Первоочередной ремонт в день или на следующий день обращения.</li>
                        <li>Заключение Договора на Ваших условиях.</li>
                        <li>Оплата по факту выполненных работ и отсрочка платежей.</li>
                        <li>Наша компания работает официально и соблюдает законодательство: мы платим налоги, все сотрудники
                            находятся в
                            штате и имеют профильное образование, корректно и своевременно оформляем все документы.
                        </li>
                        <li>Оплата по счету или Договору</li>
                        <li>Вы можете зафиксировать цены на ремонт прямо в договоре.</li>
                        <li>Получите льготные цены и скидки в зависимости от Вашего парка автомобилей.</li>
                        <li>Ваши авто ремонтируют только опытные профессионалы.</li>
                        <li>Вам устанавливают только сертифицированные запасные части и заливают масла от ведущих
                            производителей.
                        </li>
                        <li>Ремонт автомобилей осуществляется только в соответствии с регламентами завода-производителя.</li>
                        <li>Вам ремонтируют автомобиль в сжатые сроки.</li>
                        <li>Полный спектр услуг по ремонту и обслуживанию Ваших автомобилей в одном месте.</li>
                        <li>Вы будете редко обращаться к нам, потому что Ваш автомобиль будет работать, как часы.</li>
                        <li>Мы предоставляем 100% финансовые гарантии на все работы, на оригинальные и неоригинальные запасные
                            части.
                        </li>
                    </ul>

                    <p><b>И все это по ценам значительно ниже, чем на дилерских станциях.</b></p>
                    <p>P. S. С нами уже работают более 30 юридических лиц, в том числе: ОАО «РЖД», ОАО «Лукойл», ОАО «Водоканал
                        Московской области».</p>

                    <p>Звоните по телефону +7 (909) 151-00-08.</p>

                </div>
            </div>

            {{ include('elements/footer/footer.html.twig') }}
        {% endblock %}

