<div class="feedback-modal" id="feedback-form">
    <div class="feedback-content">
        <h2>Оставить заявку</h2>
        <button class="feedback-close" type="button" aria-label="Закрыть форму">×</button>

        <form>
            <div class="form__top">
                <input type="text" placeholder="Ваше имя" name="username" required />
                <input type="tel" placeholder="Номер телефона" class="phone" name="phone" required />
            </div>
            {#<div class="form__center">
                <p>Какой сервис вам будет удобен?</p>
                <label>
                    <input type="radio" name="service" value="1-й Силикатный проезд, 19/2с26" checked />
                    <span>1-й Силикатный проезд, 19/2с26</span>
                </label>
                <label>
                    <input type="radio" name="service" name="service" value="ул. Ибрагимова 31 ас4" />
                    <span>ул. Ибрагимова 31 ас4</span>
                </label>
            </div>#}
            <div class="form__bottom">
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const feedbackForm = document.querySelector(".feedback-modal");
        const phoneInput = feedbackForm.querySelector("input.phone");
        const closeBtn = feedbackForm.querySelector(".feedback-close");

        closeBtn.addEventListener('click', function () {
            feedbackForm.classList.remove("active");
            document.body.classList.remove("lock");
        });

        // При открытии модалки — сразу фокус на поле телефона
        phoneInput.focus();

        // При клике по форме — фокус на телефоне, но не если клик был по инпуту или кнопке
        feedbackForm.addEventListener("click", function (event) {
            const target = event.target;

            if (
                target.tagName !== "INPUT" &&
                target.tagName !== "BUTTON" &&
                !target.closest("button") &&
                !target.closest("input")
            ) {
                phoneInput.focus();
                phoneInput.setSelectionRange(0, 0); // курсор в начало
            }
        });
    });




    document.getElementById('feedback-form').addEventListener('submit', function (e) {
        e.preventDefault();

        ym(102288137,'reachGoal','form_submit_fos');

        const form = e.target;
        const formData = new FormData(form);

        // Добавим URL страницы для Telegram
        formData.append('page', window.location.pathname);

        fetch('/send_mail', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Заявка успешно отправлена!');
                    form.reset();
                } else {
                    alert('Произошла ошибка. Попробуйте позже.');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Ошибка при отправке формы.');
            });
    });

</script>

