<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="css/main.min.css" />

    <title>Название сайта</title>
  </head>
  <body>
    <main>
      <header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header-top">
        <div class="header-logo">
          <a href="#"><img src="img/header/logo.png" alt="" /></a>
        </div>
        <div class="header-contact">
          <div class="header-contact__col">
            <div class="header-contact__img">
              <img src="img/header/geo.svg" alt="" />
            </div>
            <div class="header-contact__tell">
              <a href="tel:+74994330728"><span>+7 (499) 433-07-28</span></a>
              <p>ул. Ибрагимова 31 ас4</p>
            </div>
          </div>
          <div class="header-contact__col">
            <div class="header-contact__img">
              <img src="img/header/geo.svg" alt="" />
            </div>
            <div class="header-contact__tell">
              <a href="tel:+74951912074"><span>+7 (495) 191-20-74</span></a>
              <p>1-й Силикатный проезд, 19/2с26</p>
            </div>
          </div>
          <div class="header-contact__col">
            <div class="header-contact__img">
              <img src="img/header/time.svg" alt="" />
            </div>
            <div class="header-contact__tell">
              <span>09:00-21:00</span>
              <p>Без выходных</p>
            </div>
          </div>
        </div>
        <div class="header-feedback">
          <button href="#" class="open-form-btn">Получить консультацию</button>
        </div>
        <div class="header-btn" id="openMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="header-menu" id="menu">
          <div class="header-menu__close">
            <button id="closeMenu"><img src="img/close.png" alt="" /></button>
          </div>
          <nav class="header-menu__nav">
            <ul class="header-menu__list">
              <li class="header-menu__link"><a href="">О компании</a></li>
              <li class="header-menu__link"><a href="">Услуги</a></li>
              <li class="header-menu__link">
                <a href="">Корпоративным клиентам</a>
              </li>
              <li class="header-menu__link"><a href="">Отзывы</a></li>
              <li class="header-menu__link"><a href="">Сертификаты</a></li>
              <li class="header-menu__link"><a href="">Фотогалерея</a></li>
              <li class="header-menu__link"><a href="">Цены</a></li>
              <li class="header-menu__link"><a href="">Контакты</a></li>
            </ul>
          </nav>
          <div class="header-contact__col">
            <div class="header-contact__img">
              <img src="img/header/time.svg" alt="" />
            </div>
            <div class="header-contact__tell">
              <span>09:00-21:00</span>
              <p>Без выходных</p>
            </div>
          </div>
          <div class="header-menu__feedback">
            <button class="open-form-btn">Получить консультацию</button>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__link"><a href="">О компании</a></li>
            <li class="nav__link"><a href="">Услуги</a></li>
            <li class="nav__link"><a href="">Корпоративным клиентам</a></li>
            <li class="nav__link"><a href="">Отзывы</a></li>
            <li class="nav__link"><a href="">Сертификаты</a></li>
            <li class="nav__link"><a href="">Фотогалерея</a></li>
            <li class="nav__link"><a href="">Цены</a></li>
            <li class="nav__link"><a href="">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>


      <section>
        <div class="main">
          <div class="container">
            <div class="main__wrapper">
              <div class="main-top">
                <div class="main-top__left">
                  <p>С ГАРАНТИЕЙ ДО 3 ЛЕТ</p>
                  <h1>Сервис Грац-Авто <br />Мерседес в Москве</h1>
                </div>
                <div class="main-top__rigth">
                  <p>
                    <img src="img/main/done_all.svg" alt="" /><span
                      >Гарантия до 3 лет</span
                    >
                  </p>
                  <p>
                    <img src="img/main/done_all.svg" alt="" /><span
                      >Оригинальные запчасти</span
                    >
                  </p>
                  <p>
                    <img src="img/main/done_all.svg" alt="" /><span
                      >Честная стоимость</span
                    >
                  </p>
                </div>
              </div>
              <div class="main-bottom">
                <div class="main-bottom__links">
                  <div class="main-bottom__link">
                    <a href="#">Заказать диагностику</a>
                  </div>
                  <div class="main-bottom__link">
                    <a href="#">Нужен эвакуатор</a>
                  </div>
                  <div class="main-bottom__link">
                    <a href="#" class="open-form-btn">Получить консультацию</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="repair">
          <div class="container">
            <div class="repair__wrapper">
              <div class="repair__left title">
                <h2>
                  Ремонт и обслуживание<br />
                  любых моделей<br />
                  Mercedes-benz
                </h2>
              </div>
              <div class="repair__rigth">
                <div class="swiper repair-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair1.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair2.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair3.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair4.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair5.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair6.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair1.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair2.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair3.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair4.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair5.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair6.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair1.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair2.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair3.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair4.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair5.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                      <div class="repair__item">
                        <a href="#">
                          <img src="img/repair/repair6.png" alt="" />
                          <p>A</p>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="repair-btn">
                    <div class="swiper-button-prev"></div>
                    <button>Показать все</button>
                    <div class="swiper-button-next"></div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="services">
          <div class="container">
            <div class="services__wrapper">
              <div class="services__title title">
                <h2>
                  Услуги и цены Сервиса<br />
                  Грац-Авто Мерседес в москве
                </h2>
              </div>
              <div class="services__items">
                <div class="services__item">
                  <p>Техническое обслуживание</p>
                  <div class="services__img">
                    <img src="img/services/1.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>Диагностика</p>
                  <div class="services__img">
                    <img src="img/services/2.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>Ремонт трансмиссии</p>
                  <div class="services__img">
                    <img src="img/services/3.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>ремонт двигателя</p>
                  <div class="services__img">
                    <img src="img/services/4.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>ремонт дизельного двигателя</p>
                  <div class="services__img">
                    <img src="img/services/5.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>электро-оборудование</p>
                  <div class="services__img">
                    <img src="img/services/6.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>Ремонт глушителя</p>
                  <div class="services__img">
                    <img src="img/services/7.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>Ремонт ходовой</p>
                  <div class="services__img">
                    <img src="img/services/8.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>ремонт рулевого управления</p>
                  <div class="services__img">
                    <img src="img/services/9.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>ремонт тормозной системы</p>
                  <div class="services__img">
                    <img src="img/services/10.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>покраска кузова</p>
                  <div class="services__img">
                    <img src="img/services/11.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>кузовной ремонт</p>
                  <div class="services__img">
                    <img src="img/services/12.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>замена автостекол</p>
                  <div class="services__img">
                    <img src="img/services/13.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>сварка автомобиля</p>
                  <div class="services__img">
                    <img src="img/services/14.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>тюнинг авто</p>
                  <div class="services__img">
                    <img src="img/services/15.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>ремонт автоматической коробки передач</p>
                  <div class="services__img">
                    <img src="img/services/16.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>ремонт коробки dsg</p>
                  <div class="services__img">
                    <img src="img/services/17.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>сход-развал</p>
                  <div class="services__img">
                    <img src="img/services/18.png" alt="" />
                  </div>
                </div>
                <div class="services__item">
                  <p>шиномонтаж</p>
                  <div class="services__img">
                    <img src="img/services/19.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="services__btn">
                <button>Показать все</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="about">
          <div class="container">
            <div class="about__wrapper">
              <div class="about__left">
                <div class="about__title">
                  <h2>
                    о компании Грац-Авто<br />
                    Мерседес в москве
                  </h2>
                </div>
                <div class="about__items">
                  <div class="about__item">
                    <div class="about__img">
                      <img src="img/about/about.png" alt="" />
                    </div>
                    <div class="about__text">
                      <h3>СПЕЦИАЛИЗИРОВАННЫЙ СЕРВИС Mercedes-Benz</h3>
                      <p>
                        Техцентр АМ+ является сертифицированным автосервисом
                        Мерседес Бенс по системе сертификации «ГОСТ Р» в Москве.
                      </p>
                    </div>
                  </div>
                  <div class="about__item">
                    <div class="about__img">
                      <img src="img/about/about.png" alt="" />
                    </div>
                    <div class="about__text">
                      <h3>ЗАПЧАСТИ В НАЛИЧИИ</h3>
                      <p>
                        Большой склад автозапчастей и большинство уже в наличии
                        и по приятным ценам. Так же действую скидки на запчасти
                        Мерседес Бенс от 10 до 20%.
                      </p>
                      <span>Скидки на запчасти Mercedes-Benz 20%</span>
                    </div>
                  </div>
                  <div class="about__item">
                    <div class="about__img">
                      <img src="img/about/about.png" alt="" />
                    </div>
                    <div class="about__text">
                      <h3>СТОИМОСТЬ ДО НАЧАЛА РАБОТ</h3>
                      <p>
                        Стоимость на ремонта Mercedes-Benz оговаривается после
                        диагностики, цена не меняется в ходе работы.
                      </p>
                    </div>
                  </div>
                  <div class="about__item">
                    <div class="about__img">
                      <img src="img/about/about.png" alt="" />
                    </div>
                    <div class="about__text">
                      <h3>100% ГАРАНТИЯ</h3>
                      <p>
                        На все виды работы мы предоставляем гарантию до 900 дней
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="about__rigth">
                <div class="swiper aboutSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="img/about/team.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="img/about/team.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="img/about/team.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="img/about/team.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="img/about/team.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="img/about/team.png" alt="" />
                    </div>
                  </div>
                  <div class="about-btn">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="promotion">
          <div class="container">
            <div class="promotion__wrapper">
              <div class="promotion__title">
                <h2>наши акции</h2>
              </div>
              <div class="swiper promotionSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="promotion__item" id="item1">
                      <div class="promotion__text">
                        <p>скидка 25% по воскресеньям</p>
                      </div>
                      <button class="open-form-btn">записаться</button>
                    </div>
                    <div class="promotion__item" id="item2">
                      <div class="promotion__text">
                        <p>
                          бесплатная диагностика подвески при первом посещении
                        </p>
                      </div>
                      <button class="open-form-btn">записаться</button>
                    </div>
                    <div class="promotion__item" id="item3">
                      <div class="promotion__text">
                        <p>чистка двигателя грецких орехом</p>
                        <span
                          >Все автомобили c дизельными двигателями системы
                          Common Rail + промывка и ремонт форсунок</span
                        >
                      </div>
                      <button class="open-form-btn">записаться</button>
                    </div>
                    <div class="promotion__item" id="item4">
                      <div class="promotion__text">
                        <p>бесплатное хранение шин</p>
                        <span
                          >При проведении у нас шиномонтажа, хранение шин
                          бесплатно</span
                        >
                      </div>
                      <button class="open-form-btn">записаться</button>
                    </div>
                    <div class="promotion__item" id="item5">
                      <div class="promotion__text">
                        <p>
                          Скидка 20% при первом обращении и 25% скидка на
                          повторный ремонт и обслуживание
                        </p>
                      </div>
                      <button class="open-form-btn">записаться</button>
                    </div>
                    <div class="promotion__item">
                      <div class="promotion__text">
                        <p>Бесплатная замена масла и фильтров</p>
                        <span
                          >При покупке масла и масляного фильтра в нашем
                          сервисе, замена масла и фильтра бесплатно</span
                        >
                      </div>
                      <button class="open-form-btn">записаться</button>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="promotion__item">
                      <div class="promotion__text">
                        <p>скидка 25% по воскресеньям</p>
                      </div>
                      <button>записаться</button>
                    </div>
                    <div class="promotion__item">
                      <div class="promotion__text">
                        <p>
                          бесплатная диагностика подвески при первом посещении
                        </p>
                      </div>
                      <button>записаться</button>
                    </div>
                    <div class="promotion__item">
                      <div class="promotion__text">
                        <p>чистка двигателя грецких орехом</p>
                        <span
                          >Все автомобили c дизельными двигателями системы
                          Common Rail + промывка и ремонт форсунок</span
                        >
                      </div>
                      <button>записаться</button>
                    </div>
                    <div class="promotion__item">
                      <div class="promotion__text">
                        <p>бесплатное хранение шин</p>
                        <span
                          >При проведении у нас шиномонтажа, хранение шин
                          бесплатно</span
                        >
                      </div>
                      <button>записаться</button>
                    </div>
                    <div class="promotion__item">
                      <div class="promotion__text">
                        <p>
                          Скидка 20% при первом обращении и 25% скидка на
                          повторный ремонт и обслуживание
                        </p>
                      </div>
                      <button>записаться</button>
                    </div>
                    <div class="promotion__item">
                      <div class="promotion__text">
                        <p>Бесплатная замена масла и фильтров</p>
                        <span
                          >При покупке масла и масляного фильтра в нашем
                          сервисе, замена масла и фильтра бесплатно</span
                        >
                      </div>
                      <button>записаться</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="reviews">
          <div class="container">
            <div class="reviews__wrapper">
              <div class="reviews__title">
                <h2>прайс лист на услуги</h2>
              </div>
              <div class="reviews__items">
                <div class="reviews__item">
                  <div class="reviews__top">
                    <p>4.8</p>
                    <div class="reviews__star">
                      <img src="img/reviews/star.png" alt="" />
                      <img src="img/reviews/star.png" alt="" />
                      <img src="img/reviews/star.png" alt="" />
                      <img src="img/reviews/star.png" alt="" />
                      <img src="img/reviews/star-3.png" alt="" />
                    </div>
                  </div>
                  <span>Наш средний рейтинг</span>
                </div>
                <div class="reviews__item">
                  <img src="img/reviews/y.png" alt="" />
                  <div class="reviews__block">
                    <p>4.8</p>
                    <div class="reviews__star">
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-4.png" alt="" />
                    </div>
                  </div>
                  <a href="#">Перейти</a>
                </div>
                <div class="reviews__item">
                  <img src="img/reviews/z.png" alt="" />
                  <div class="reviews__block">
                    <p>4.8</p>
                    <div class="reviews__star">
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-4.png" alt="" />
                    </div>
                  </div>
                  <a href="#">Перейти</a>
                </div>
                <div class="reviews__item">
                  <img src="img/reviews/a.png" alt="" />
                  <div class="reviews__block">
                    <p>4.8</p>
                    <div class="reviews__star">
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-4.png" alt="" />
                    </div>
                  </div>
                  <a href="#">Перейти</a>
                </div>
                <div class="reviews__item">
                  <img src="img/reviews/gis.png" alt="" />
                  <div class="reviews__block">
                    <p>4.8</p>
                    <div class="reviews__star">
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-1.png" alt="" />
                      <img src="img/reviews/star-4.png" alt="" />
                    </div>
                  </div>
                  <a href="#">Перейти</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="price">
          <div class="container">
            <div class="price__wrapper">
              <div class="price__title">
                <h2>прайс лист на услуги</h2>
              </div>
              <div class="price__box">
                <div class="price__tabs">
                  <button class="price__tab" data-tab="tab1">
                    <img src="img/price/1.png" alt="" />
                    <p>Техническое обслуживание</p>
                  </button>
                  <button class="price__tab" data-tab="tab2">
                    <img src="img/price/2.png" alt="" />
                    <p>Диагностика</p>
                  </button>
                  <button class="price__tab" data-tab="tab3">
                    <img src="img/price/3.png" alt="" />
                    <p>Ремонт трансмиссии</p>
                  </button>
                  <button class="price__tab" data-tab="tab4">
                    <img src="img/price/4.png" alt="" />
                    <p>ремонт двигателя</p>
                  </button>
                  <button class="price__tab" data-tab="tab5">
                    <img src="img/price/5.png" alt="" />
                    <p>ремонт дизельного двигателя</p>
                  </button>
                  <button class="price__tab" data-tab="tab6">
                    <img src="img/price/6.png" alt="" />
                    <p>электрооборудования</p>
                  </button>
                  <button class="price__tab" data-tab="tab7">
                    <img src="img/price/7.png" alt="" />
                    <p>Ремонт глушителя</p>
                  </button>
                  <button class="price__tab" data-tab="tab8">
                    <img src="img/price/8.png" alt="" />
                    <p>Ремонт ходовой</p>
                  </button>
                  <button class="price__tab" data-tab="tab9">
                    <img src="img/price/9.png" alt="" />
                    <p>ремонт рулевого управления</p>
                  </button>
                  <button class="price__tab" data-tab="tab10">
                    <img src="img/price/10.png" alt="" />
                    <p>ремонт тормозной системы</p>
                  </button>
                  <button class="price__tab" data-tab="tab11">
                    <img src="img/price/11.png" alt="" />
                    <p>покраска кузова</p>
                  </button>
                  <button class="price__tab" data-tab="tab12">
                    <img src="img/price/12.png" alt="" />
                    <p>кузовной ремонт</p>
                  </button>
                  <button class="price__tab" data-tab="tab13">
                    <img src="img/price/13.png" alt="" />
                    <p>замена автостекол</p>
                  </button>
                  <button class="price__tab" data-tab="tab14">
                    <img src="img/price/14.png" alt="" />
                    <p>сварка автомобиля</p>
                  </button>
                  <button class="price__tab" data-tab="tab15">
                    <img src="img/price/15.png" alt="" />
                    <p>тюнинг авто</p>
                  </button>
                  <button class="price__tab" data-tab="tab16">
                    <img src="img/price/16.png" alt="" />
                    <p>ремонт автоматической коробки передач</p>
                  </button>
                  <button class="price__tab" data-tab="tab17">
                    <img src="img/price/17.png" alt="" />
                    <p>ремонт коробки dsg</p>
                  </button>
                  <button class="price__tab" data-tab="tab18">
                    <img src="img/price/18.png" alt="" />
                    <p>сход-развал</p>
                  </button>
                  <button class="price__tab" data-tab="tab19">
                    <img src="img/price/19.png" alt="" />
                    <p>шиномонтаж</p>
                  </button>
                </div>
                <div class="price__list">
                  <div class="price__block" data-tab-content="tab1">
                    <div class="price__col">
                      <div class="price__row">
                        <p>Техническое обслуживание</p>
                        <span>От 1500 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Чистка дроссельной заслонки</p>
                        <span>От 750 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена масла в АКПП</p>
                        <span>От 3000 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена масла в двигателе</p>
                        <span>От 900 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена топливного фильтра</p>
                        <span>От 600 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена приводных ремней</p>
                        <span>От 1500 ₽</span>
                      </div>
                    </div>
                    <div class="price__col">
                      <div class="price__row">
                        <p>Замена помпы (водяного насоса)</p>
                        <span>От 2250 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Сброс межсервисного интервала</p>
                        <span>От 300 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Полная замена масла в АКПП</p>
                        <span>От 3750 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена фильтров</p>
                        <span>От 450 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена салонного фильтра</p>
                        <span>От 450 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена ремня ГРМ</p>
                        <span>От 6000 ₽</span>
                      </div>
                    </div>
                    <div class="price__col">
                      <div class="price__row">
                        <p>Замена свечей зажигания</p>
                        <span>От 600 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Экспресс-замена масла с защитой ДВС</p>
                        <span>От 1200 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Частичная замена масла в АКПП</p>
                        <span>От 2250 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена воздушного фильтра</p>
                        <span>От 450 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена топливного фильтра дизель</p>
                        <span>От 750 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена цепи ГРМ</p>
                        <span>От 12000 ₽</span>
                      </div>
                    </div>
                  </div>
                  <div class="price__block" data-tab-content="tab2">
                    <div class="price__col">
                      <div class="price__row">
                        <p>Техническое обслуживание</p>
                        <span>От 1500 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Чистка дроссельной заслонки</p>
                        <span>От 750 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена масла в АКПП</p>
                        <span>От 3000 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена масла в двигателе</p>
                        <span>От 900 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена топливного фильтра</p>
                        <span>От 600 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена приводных ремней</p>
                        <span>От 1500 ₽</span>
                      </div>
                    </div>
                    <div class="price__col">
                      <div class="price__row">
                        <p>Замена помпы (водяного насоса)</p>
                        <span>От 2250 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Сброс межсервисного интервала</p>
                        <span>От 300 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Полная замена масла в АКПП</p>
                        <span>От 3750 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена фильтров</p>
                        <span>От 450 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена салонного фильтра</p>
                        <span>От 450 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена ремня ГРМ</p>
                        <span>От 6000 ₽</span>
                      </div>
                    </div>
                    <div class="price__col">
                      <div class="price__row">
                        <p>Замена свечей зажигания</p>
                        <span>От 600 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Экспресс-замена масла с защитой ДВС</p>
                        <span>От 1200 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Частичная замена масла в АКПП</p>
                        <span>От 2250 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена воздушного фильтра</p>
                        <span>От 450 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена топливного фильтра дизель</p>
                        <span>От 750 ₽</span>
                      </div>
                      <div class="price__row">
                        <p>Замена цепи ГРМ</p>
                        <span>От 12000 ₽</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="form">
          <div class="container">
            <div class="form__wrapper">
              <div class="form__modal">
                <div class="form__content">
                  <h2>Оставить заявку</h2>
                  <form>
                    <div class="form__top">
                      <input type="text" placeholder="Ваше имя" />
                      <input
                        type="tel"
                        placeholder="Номер телефона"
                        class="phone"
                      />
                    </div>
                    <div class="form__center">
                      <p>Какой сервис вам будет удобен?</p>
                      <label>
                        <input type="radio" name="address" checked />
                        <span>1-й Силикатный проезд, 19/2с26</span>
                      </label>
                      <label>
                        <input type="radio" name="address" />
                        <span>ул. Ибрагимова 31 ас4</span>
                      </label>
                    </div>
                    <div class="form__bottom">
                      <button>Отправить</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="sert">
          <div class="container">
            <div class="sert__wrapper">
              <div class="sert__title">
                <h2>сертификаты</h2>
              </div>
              <div class="sert__slider">
                <div class="swiper sertSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="img/sert/sert-1.png" alt="" loading="lazy" />
                    </div>
                    <div class="swiper-slide">
                      <img src="img/sert/sert-2.png" alt="" loading="lazy" />
                    </div>
                    <div class="swiper-slide">
                      <img src="img/sert/sert-3.png" alt="" loading="lazy" />
                    </div>
                    <div class="swiper-slide">
                      <img src="img/sert/sert-1.png" alt="" loading="lazy" />
                    </div>
                    <div class="swiper-slide">
                      <img src="img/sert/sert-1.png" alt="" loading="lazy" />
                    </div>
                    <div class="swiper-slide">
                      <img src="img/sert/sert-1.png" alt="" loading="lazy" />
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="advantages">
          <div class="container">
            <div class="advantages__wrapper">
              <div class="advantages__items">
                <div class="advantages__item">
                  <div class="advantages__img">
                    <img src="img/advantages/ad-1.png" alt="" />
                  </div>
                  <div class="advantages__text">
                    <p>Специализированный автосервис</p>
                    <span
                      >«Грац-Авто Мерседес» - автосервис по ремонту<br />
                      и обслуживанию Mercedes-Benz в Москве</span
                    >
                  </div>
                </div>
                <div class="advantages__item">
                  <div class="advantages__img">
                    <img src="img/advantages/ad-2.png" alt="" />
                  </div>
                  <div class="advantages__text">
                    <p>2 года гарантии</p>
                    <span
                      >На слесарный ремонт мы предоставляем<br />
                      гарантию до 900 дней</span
                    >
                  </div>
                </div>
                <div class="advantages__item">
                  <div class="advantages__img">
                    <img src="img/advantages/ad-2.png" alt="" />
                  </div>
                  <div class="advantages__text">
                    <p>склад запчастей</p>
                    <span
                      >Большинство автозапчастей<br />
                      Mercedes-Benz уже в наличии</span
                    >
                  </div>
                </div>
                <div class="advantages__item">
                  <div class="advantages__img">
                    <img src="img/advantages/ad-2.png" alt="" />
                  </div>
                  <div class="advantages__text">
                    <p>Честно считаем</p>
                    <span
                      >После диагностики называется<br />
                      полная стоимость работ</span
                    >
                  </div>
                </div>
                <div class="advantages__item">
                  <div class="advantages__img">
                    <img src="img/advantages/ad-3.png" alt="" />
                  </div>
                  <div class="advantages__text">
                    <p>Дешевле дилера до 50%</p>
                    <span
                      >Стоимость ремонта дешевле,<br />
                      а качество не хуже</span
                    >
                  </div>
                </div>
                <div class="advantages__item">
                  <div class="advantages__img">
                    <img src="img/advantages/ad-4.png" alt="" />
                  </div>
                  <div class="advantages__text">
                    <p>Скидки до 25%</p>
                    <span
                      >Скидка 20% при первом обращении и 25% на повторный ремонт
                      и обслуживание</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__title">
          <h2>контакты</h2>
        </div>
        <div class="footer__item">
          <div class="footer__top">
            <p>1-й Силикатный проезд, 19/2с26</p>
            <span
              ><img src="img/footer/Moscow_Metro.png" alt="" />
              Хорошёвская</span
            >
          </div>
          <div class="footer__bottom">
            <div class="footer__col">
              <img src="img/footer/call.png" alt="" />
              <div class="footer__input">
                <a href="tel:+74951912074">+7 (495) 191-20-74</a>
                <span>Слесарный цех</span>
              </div>
            </div>
            <div class="footer__col">
              <img src="img/footer/markunread.png" alt="" />
              <div class="footer__input">
                <a href="mailto:aatplus@yandex.ru">aatplus@yandex.ru</a>
                <span>E-mail</span>
              </div>
            </div>
            <div class="footer__col">
              <img src="img/footer/schedule.png" alt="" />
              <div class="footer__input">
                <p>09:00-21:00</p>
                <span>Без выходных</span>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__item">
          <div class="footer__top">
            <p>Ул. Ибрагимова 31 ас4</p>
            <span
              ><img src="img/footer/Moscow_Metro.png" alt="" />
              Семеновская</span
            >
          </div>
          <div class="footer__bottom">
            <div class="footer__col">
              <img src="img/footer/call.png" alt="" />
              <div class="footer__input">
                <a href="tel:+74994330728">+7 (499) 433-07-28</a>
                <span>Слесарный цех</span>
              </div>
            </div>
            <div class="footer__col">
              <img src="img/footer/call.png" alt="" />
              <div class="footer__input">
                <a href="tel:+79091510000">+7 (909) 151-00-00</a>
                <span>E-mail</span>
              </div>
            </div>
            <div class="footer__col">
              <img src="img/footer/schedule.png" alt="" />
              <div class="footer__input">
                <p>09:00-21:00</p>
                <span>Без выходных</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__rigth">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A1eb2a856320de4b8b4096743e9dfdac6ab09a8ee07cb5c8ae1f485a2ce66b8dc&amp;source=constructor"
          width="100%"
          frameborder="0"
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="footer__info">
    <div class="container">
      <div class="footer__block">
        <p>ООО АВТОКАР | Автосервис АМ Плюс</p>
        <p>
          Ремонт и обслуживание Mercedes-Benz <br />
          (Мерседес Бенс) в Москве
        </p>
      </div>
    </div>
  </div>

  <div class="feedback-modal">
    <div class="feedback-content">
      <h2>Оставить заявку</h2>
      <form>
        <div class="form__top">
          <input type="text" placeholder="Ваше имя" />
          <input type="tel" placeholder="Номер телефона" class="phone" />
        </div>
        <div class="form__center">
          <p>Какой сервис вам будет удобен?</p>
          <label>
            <input type="radio" name="address" checked />
            <span>1-й Силикатный проезд, 19/2с26</span>
          </label>
          <label>
            <input type="radio" name="address" />
            <span>ул. Ибрагимова 31 ас4</span>
          </label>
        </div>
        <div class="form__bottom">
          <button>Отправить</button>
        </div>
      </form>
    </div>
  </div>
</footer>

    </main>

    <script defer src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script defer src="js/jquery.mask.min.js"></script>
    <script defer src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script defer src="js/main.min.js"></script>
  </body>
</html>
