@font-face {
  font-family: "IBMPlexSans-Bold";
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Bold.woff") format("woff"), url("../fonts/IBMPlexSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Medium.woff") format("woff"), url("../fonts/IBMPlexSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-Regular";
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Regular.woff") format("woff"), url("../fonts/IBMPlexSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  font-display: swap;
  src: url("../fonts/IBMPlexSans-SemiBold.woff") format("woff"), url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "IBMPlexSans-Regular";
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: "IBMPlexSans-SemiBold";
  margin: 0;
  padding: 0;
}

body {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body.shadow {
  overflow: hidden;
}

body.shadow::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6117647059);
  top: 0;
  right: 0;
  display: block;
  z-index: 1;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding-bottom: 10px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.7137254902);
}

.header.scrolled .header-bottom {
  display: none;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.header-logo {
  width: auto;
  height: auto;
}

.header-logo img {
  width: 100%;
  max-width: 204px;
  height: auto;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 98px;
}

.header-contact__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header-contact__img {
  width: 24px;
  height: 24px;
}

.header-contact__tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.header-contact__tell a span {
  color: #fff;
  font-family: "IBMPlexSans-Bold";
  font-size: 14px;
  line-height: 115%;
  letter-spacing: 0%;
}

.header-contact__tell p {
  color: #b7b7b7;
  font-size: 12px;
  line-height: 115%;
}

.header-feedback button {
  color: #fff;
  font-family: "IBMPlexSans-Medium";
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 10px 20px;
  display: block;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
}

.header-btn {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 2px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.header-btn span {
  position: relative;
  width: 18px;
  height: 2px;
  background-color: #000000;
}

.header-btn span::before {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  display: block;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #000;
  gap: 10px;
  -webkit-transform: translateX(400px);
      -ms-transform: translateX(400px);
          transform: translateX(400px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  width: 400px;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 20px;
}

.header-menu__close {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header-menu__close button {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  display: block;
}

.header-menu__close button img {
  width: 100%;
  height: 100%;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
}

.header-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-menu__link a {
  width: 100%;
  color: #fff;
  font-family: "IBMPlexSans-Medium";
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 8px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-menu__link a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.header-menu__feedback button {
  color: #fff;
  font-family: "IBMPlexSans-Medium";
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 10px 20px;
  display: block;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
}

.header-menu.open {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.header-bottom {
  width: 100%;
  height: auto;
}

.header-bottom .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
}

.header-bottom .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-bottom .nav__link a {
  width: 100%;
  color: #fff;
  font-family: "IBMPlexSans-Medium";
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 8px 0;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-bottom .nav__link a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.main {
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 42px;
  width: 100%;
  height: 842px;
  padding-bottom: 48px;
}

.main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 19px;
}

.main-top__left p {
  color: #838383;
  font-size: 24px;
  line-height: 95%;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.main-top__left h1 {
  font-family: "IBMPlexSans-Bold";
  font-size: 64px;
  line-height: 95%;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: #fff;
}

.main-top__rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.main-top__rigth p {
  color: #fff;
  font-family: "IBMPlexSans-SemiBold";
  font-weight: 600;
  font-size: 24px;
  line-height: 95%;
  letter-spacing: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.main-top__rigth p img {
  width: 24px;
  height: 24px;
}

.main-bottom {
  width: 100%;
  height: auto;
}

.main-bottom__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-bottom__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #ffffff;
  width: 100%;
  max-width: 443px;
}

.main-bottom__link a {
  width: 100%;
  padding: 32px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "IBMPlexSans-Medium";
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.main-bottom__link a:hover {
  background-color: rgba(255, 255, 255, 0.1490196078);
}

.main-bottom__link:last-child a {
  color: #000;
  background-color: #fff;
}

.main-bottom__link:last-child a:hover {
  background-color: rgba(255, 255, 255, 0.8509803922);
}

.repair {
  width: 100%;
  height: auto;
  padding: 74px 0;
  border-bottom: 1px solid #dedede;
}

.repair__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.repair__left {
  max-width: 532px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  position: relative;
}

.repair__left h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.repair__rigth {
  max-width: 642px;
  width: 100%;
}

.repair__rigth .swiper {
  position: static;
}

.repair__rigth .swiper-pagination {
  position: absolute;
  text-align: left;
  bottom: auto;
  top: 120px;
}

.repair__rigth .swiper-pagination .swiper-pagination-bullet {
  width: 32px;
  height: 4px;
  border-radius: 12px;
}

.repair__rigth .swiper-pagination .swiper-pagination-bullet-active {
  background: rgba(0, 0, 0, 0.3490196078);
}

.repair__rigth .swiper-pagination .swiper-pagination-bullet-active {
  background: #000;
}

.repair__rigth .repair-slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.repair__rigth .repair-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 44px;
  border: 1px solid #000;
  margin-top: 12px;
}

.repair__rigth .repair-btn button {
  font-family: "IBMPlexSans-Medium";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  height: 100%;
  width: 180px;
  background-color: #fff;
}

.repair__rigth .repair-btn .swiper-button-next {
  position: static;
  background-color: #2c2c2c;
  width: 43px;
  height: 43px;
  color: #fff;
}

.repair__rigth .repair-btn .swiper-button-prev {
  position: static;
  background-color: #2c2c2c;
  width: 43px;
  height: 43px;
  color: #fff;
}

.repair__rigth .repair-btn .swiper-button-next:after,
.repair__rigth .repair-btn .swiper-button-prev:after {
  font-size: 12px;
}

.repair__rigth .repair-btn .swiper-button-next.swiper-button-disabled,
.repair__rigth .repair-btn .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.repair__item {
  max-width: 205px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

.repair__item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 15px 19.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.repair__item a img {
  max-width: 165px;
  width: 100%;
}

.repair__item a p {
  font-family: "IBMPlexSans-SemiBold";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.repair__item a:hover {
  background-color: #f0f0f0;
}

.repair__rigth .repair-slider {
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  max-height: 350px;
}

.repair__rigth .repair-slider.expanded {
  max-height: 1000px;
}

.repair__rigth .repair-slider.expanded .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.repair__rigth .repair-slider.expanded .swiper-pagination {
  display: none;
}

.repair__rigth .repair-slider.expanded .swiper-slide {
  display: contents;
}

.services {
  width: 100%;
  height: auto;
  padding: 82px 0;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__title {
  width: 100%;
  height: auto;
}

.services__title h2 {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  height: auto;
  margin-top: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 350px;
  overflow: hidden;
}

.services__items.service {
  height: auto;
}

.services__item {
  width: 100%;
  max-width: 15.7%;
  height: 166px;
  border: 1px solid #dedede;
  border-radius: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 16px;
  background-color: #fff;
  background-image: url("../img/services/Untitled-1.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.services__item p {
  color: #2c2c2c;
  font-family: "IBMPlexSans-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.services__item:hover {
  background-color: black;
  background-image: url("../img/services/vector-2.png");
}

.services__item:hover .services__img {
  background-color: #f0f0f0;
}

.services__item:hover p {
  color: white;
}

.services__item:nth-child(12n+2):hover,
.services__item:nth-child(12n+4):hover,
.services__item:nth-child(12n+6):hover,
.services__item:nth-child(12n+7):hover,
.services__item:nth-child(12n+9):hover,
.services__item:nth-child(12n+11):hover {
  background-color: white;
  background-image: url("../img/services/Untitled-1.svg");
}

.services__item:nth-child(12n+2):hover p,
.services__item:nth-child(12n+4):hover p,
.services__item:nth-child(12n+6):hover p,
.services__item:nth-child(12n+7):hover p,
.services__item:nth-child(12n+9):hover p,
.services__item:nth-child(12n+11):hover p {
  color: black;
}

.services__img {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #dedede;
  border-radius: 12px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 8px;
}

.services__btn button {
  width: 350px;
  border: 1px solid #2c2c2c;
  border-radius: 12px;
  padding: 14px 0;
  text-align: center;
  background-color: #fff;
  font-family: "IBMPlexSans-Medium";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
  padding: 82px 0;
}

.about__wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__left {
  max-width: 533px;
  width: 100%;
  height: auto;
}

.about__title {
  width: 100%;
  height: auto;
}

.about__title h2 {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.about__items {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
}

.about__img {
  width: 36px;
  height: 36px;
}

.about__img img {
  width: 100%;
  height: 100%;
}

.about__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4px;
}

.about__text h3 {
  font-family: "IBMPlexSans-Medium";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about__text p {
  color: #838383;
  font-size: 16px;
  line-height: 115%;
  letter-spacing: -3%;
}

.about__text span {
  font-family: "IBMPlexSans-Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 95%;
  letter-spacing: -3%;
  background-color: #fff;
  border-radius: 32px;
  color: #2c2c2c;
  padding: 8px 16px;
  margin-top: 12px;
}

.about__rigth {
  max-width: 642px;
  width: 100%;
  height: auto;
}

.about__rigth .swiper {
  border-radius: 12px 12px 0 0;
}

.about__rigth .swiper .swiper-slide {
  width: 100%;
  height: auto;
}

.about__rigth .swiper .swiper-slide img {
  width: 100%;
  height: auto;
}

.about-btn {
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.about-btn .swiper-button-next {
  position: static;
  background-color: #2c2c2c;
  width: 44px;
  height: 44px;
  color: #fff;
  margin: 0;
}

.about-btn .swiper-button-prev {
  position: static;
  background-color: #2c2c2c;
  width: 44px;
  height: 44px;
  color: #fff;
  margin: 0;
}

.about-btn .swiper-button-next:after,
.about-btn .swiper-button-prev:after {
  font-size: 12px;
}

.about-btn .swiper-button-next.swiper-button-disabled,
.about-btn .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.about-btn .swiper-pagination {
  position: static;
  font-family: "IBMPlexSans-Medium";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.promotion {
  width: 100%;
  height: auto;
  padding: 82px 0;
}

.promotion__wrapper {
  width: 100%;
  height: auto;
}

.promotion__title {
  width: 100%;
  height: auto;
}

.promotion__title h2 {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.promotion__item {
  width: 32%;
  height: 210px;
  border-radius: 12px;
  border: 1px solid #dedede;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.promotion__item p {
  color: #2c2c2c;
  font-family: "IBMPlexSans-Medium";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.promotion__item span {
  color: #838383;
  font-size: 16px;
  line-height: 115%;
  letter-spacing: -3%;
}

.promotion__item button {
  font-family: "IBMPlexSans-Medium";
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000;
  padding: 8px 18px;
  border-radius: 4px;
  border: 1px solid #2c2c2c;
  background-color: rgba(255, 255, 255, 0);
}

.promotion #item1 {
  background-image: url("../img/promotion/1.png");
  background-color: #000;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.promotion #item1 p {
  color: #fff;
}

.promotion #item1 button {
  color: #fff;
  border: 1px solid #fff;
}

.promotion #item2 {
  background: radial-gradient(45.48% 130.76% at 67.57% 53.33%, rgba(255, 255, 255, 0) 0%, #ffffff 100%), url("../img/promotion/123.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
}

.promotion #item3 {
  background-color: #4b4b4b;
}

.promotion #item3 p {
  color: #fff;
}

.promotion #item3 span {
  color: #b5b5b5;
}

.promotion #item3 button {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.promotion #item4 {
  background-color: #fff;
}

.promotion #item4 p {
  color: #000;
}

.promotion #item4 button {
  color: #000;
}

.promotion #item5 {
  background-image: url("../img/promotion/1.png");
  background-color: #000;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.promotion #item5 p {
  color: #fff;
}

.promotion #item5 button {
  color: #fff;
  border: 1px solid #fff;
}

.promotion__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.promotionSwiper .swiper-wrapper {
  margin-top: 24px;
}

.promotionSwiper .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
}

.promotionSwiper .swiper-button-next {
  position: absolute;
  background-color: #2c2c2c;
  width: 48px;
  height: 44px;
  color: #fff;
  margin: 0;
  border-radius: 4px;
  top: 48%;
  right: 0;
}

.promotionSwiper .swiper-button-prev {
  position: absolute;
  background-color: #2c2c2c;
  width: 48px;
  height: 44px;
  color: #fff;
  margin: 0;
  border-radius: 4px;
  top: 48%;
  left: 0;
}

.promotionSwiper .swiper-button-next:after,
.promotionSwiper .swiper-button-prev:after {
  font-size: 12px;
}

.promotionSwiper .swiper-button-next.swiper-button-disabled,
.promotionSwiper .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.promotionSwiper .swiper-pagination {
  position: static;
  text-align: center;
}

.promotionSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 32px;
  height: 4px;
  border-radius: 12px;
}

.promotionSwiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #000000;
}

.reviews {
  width: 100%;
  height: auto;
  padding: 56px 0;
  background-color: #f0f0f0;
}

.reviews__wrapper {
  width: 100%;
  height: auto;
}

.reviews__title {
  width: 100%;
  height: auto;
}

.reviews__title h2 {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.reviews__items {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
}

.reviews__item {
  width: 19%;
  height: 131px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 4px;
}

.reviews__item:first-child {
  background-color: #000;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reviews__item:first-child span {
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0%;
  color: #f0fcff;
}

.reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reviews__top p {
  color: #fff;
  font-family: "IBMPlexSans-Bold";
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}

.reviews__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.reviews__star img {
  width: 20px;
  height: 20px;
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.reviews__block p {
  font-family: "IBMPlexSans-SemiBold";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #252525;
}

.reviews a {
  color: #0091c5;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

.price {
  width: 100%;
  height: auto;
  padding: 86px 0;
}

.price__wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__title {
  width: 100%;
  height: auto;
}

.price__title h2 {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.price__box {
  width: 100%;
  height: auto;
  margin-top: 36px;
}

.price__tabs {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}

.price__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  border: 1px solid #dedede;
  background-color: rgba(255, 255, 255, 0);
  padding: 7px 12px;
  border-radius: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.price__tab img {
  width: 20px;
  height: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.price__tab p {
  color: #2c2c2c;
  font-family: "IBMPlexSans-Medium";
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.price__tab:hover {
  background-color: #000;
  border: 1px solid #000;
}

.price__tab:hover p {
  color: #fff;
}

.price__tab:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.price__list {
  width: 100%;
  height: auto;
  margin-top: 36px;
}

.price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price__col {
  width: 32%;
}

.price__row {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #b4b4b4;
  padding-bottom: 10px;
}

.price__row p {
  font-family: "IBMPlexSans-Medium";
  font-size: 18px;
  line-height: 115%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.price__row span {
  color: #838383;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.price__tab.active {
  background-color: #000;
  border-color: #000;
}

.price__tab.active p {
  color: #fff;
}

.price__tab.active img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.form {
  width: 100%;
  height: auto;
  background-image: url("../img/form/form.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 64px 0;
}

.form__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__content {
  background: #2c2c2c;
  padding: 32px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  color: #fff;
}

.form__content h2 {
  color: #fff;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: -1%;
  text-transform: uppercase;
}

.form__content form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.form__top input {
  width: 100%;
  height: auto;
  font-size: 18px;
  line-height: 125%;
  color: #838383;
  padding-bottom: 10px;
  border-bottom: 1px solid #838383;
  background-color: #2c2c2c;
}

.form__top input:last-child {
  margin-top: 14px;
}

.form__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  gap: 15px;
}

.form__center p {
  font-family: "IBMPlexSans-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: -1%;
  color: #ffffff;
}

.form__center label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4px;
}

.form__center label span {
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1%;
  color: rgba(255, 255, 255, 0.5490196078);
}

.form__center label {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 8px;
}

.form__center label input[type=radio] {
  display: none;
}

.form__center label span {
  position: relative;
  padding-left: 28px;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1%;
  color: rgba(255, 255, 255, 0.5490196078);
}

.form__center label span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form__center label input[type=radio]:checked + span::before {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 2.5px #2c2c2c;
          box-shadow: inset 0 0 0 2.5px #2c2c2c;
}

.form__bottom {
  width: 100%;
  height: auto;
}

.form__bottom button {
  width: 100%;
  height: auto;
  background-color: #fff;
  font-family: "IBMPlexSans-Bold";
  font-size: 16px;
  line-height: 95%;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
  padding: 16.5px;
  border-radius: 32px;
}

.sert {
  width: 100%;
  height: auto;
  padding: 66px 0 110px;
}

.sert__wrapper {
  width: 100%;
  height: auto;
}

.sert__title {
  width: 100%;
  height: auto;
}

.sert__title h2 {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.sert__slider {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.sert__slider .swiper {
  padding-bottom: 25px;
}

.sert__slider .swiper .swiper-slide {
  width: 100%;
}

.sert__slider .swiper .swiper-slide img {
  width: 100%;
  height: auto;
}

.sert__slider .swiper .swiper-button-next {
  right: 0;
  background-color: #2c2c2c;
  width: 43px;
  height: 43px;
  color: #fff;
}

.sert__slider .swiper .swiper-button-prev {
  left: 0;
  background-color: #2c2c2c;
  width: 43px;
  height: 43px;
  color: #fff;
}

.sert__slider .swiper .swiper-button-next:after,
.sert__slider .swiper .swiper-button-prev:after {
  font-size: 12px;
}

.sert__slider .swiper .swiper-button-next.swiper-button-disabled,
.sert__slider .swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.sert__slider .swiper .swiper-pagination {
  position: absolute;
  text-align: center;
  bottom: 0;
  top: auto;
}

.sert__slider .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 32px;
  height: 4px;
  border-radius: 12px;
}

.sert__slider .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: rgba(0, 0, 0, 0.3490196078);
}

.sert__slider .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #000;
}

.advantages {
  width: 100%;
  height: auto;
  padding: 0 0 80px 0;
}

.advantages__wrapper {
  width: 100%;
  height: auto;
}

.advantages__items {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.advantages__item {
  width: 32.3%;
  height: 166px;
  border: 1px solid #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
  padding: 20px;
  border-radius: 12px;
}

.advantages__item:last-child,
.advantages__item:first-child,
.advantages__item:nth-child(5) {
  background-color: #232323;
}

.advantages__item:last-child p,
.advantages__item:first-child p,
.advantages__item:nth-child(5) p {
  color: #fff;
}

.advantages__item:last-child span,
.advantages__item:first-child span,
.advantages__item:nth-child(5) span {
  color: #fff;
}

.advantages__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.advantages__text p {
  color: #2c2c2c;
  font-family: "IBMPlexSans-Medium";
  font-size: 18px;
  line-height: 95%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.advantages__text span {
  color: #2c2c2c;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: 0%;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #2c2c2c;
}

.footer__wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left {
  max-width: 532px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
  padding-top: 64px;
}

.footer__title {
  width: 100%;
  height: auto;
}

.footer__title h2 {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.footer__item {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.footer__top {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.footer__top p {
  color: #fff;
  font-family: "IBMPlexSans-Medium";
  font-size: 20px;
  line-height: 115%;
}

.footer__top span {
  border-radius: 4px;
  padding: 6px 8px;
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: #fff;
  font-family: "IBMPlexSans-Medium";
  font-size: 12px;
  line-height: 115%;
  text-transform: uppercase;
}

.footer__bottom {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.footer__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.footer__input a {
  color: #fff;
  font-family: "IBMPlexSans-Medium";
  font-size: 14px;
  letter-spacing: 0%;
}

.footer__input span {
  color: #b7b7b7;
  font-size: 12px;
  line-height: 115%;
}

.footer__input p {
  color: #fff;
  font-family: "IBMPlexSans-Medium";
  font-size: 14px;
  letter-spacing: 0%;
}

.footer__rigth {
  max-width: 650px;
  width: 100%;
  height: auto;
}

.footer__rigth iframe {
  height: 402px;
}

.footer__info {
  width: 100%;
  height: auto;
  background-color: #232323;
  padding: 24px 0;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block p {
  color: #fff;
  font-family: "IBMPlexSans-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 115%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.footer__block p br {
  display: none;
}

.footer .feedback-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: 1000;
}

.footer .feedback-modal.active {
  opacity: 1;
  pointer-events: auto;
}

.footer .feedback-content {
  background: #1e1e1e;
  padding: 32px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  color: #fff;
  -webkit-animation: scaleIn 0.4s ease;
          animation: scaleIn 0.4s ease;
}

.footer .feedback-content h2 {
  color: #fff;
  font-family: "IBMPlexSans-Bold";
  font-size: 24px;
  line-height: 115%;
  letter-spacing: -1%;
  text-transform: uppercase;
}

.footer .feedback-content form {
  margin-top: 10px;
}

.footer .feedback-content form p {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-family: "IBMPlexSans-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: -1%;
}

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.footer .feedback-content label,
.footer .feedback-content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.footer .feedback-content input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #666;
  padding: 8px 0;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1%;
  width: 100%;
  font-family: "IBMPlexSans-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1%;
  color: rgba(255, 255, 255, 0.5490196078);
}

.footer .feedback-content label input {
  width: auto;
  margin-right: 4px;
}

.footer .feedback-content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  color: #000;
  font-weight: bold;
  padding: 16.5px;
  border-radius: 999px;
  margin-top: 24px;
  cursor: pointer;
  font-family: "IBMPlexSans-Bold";
  font-size: 16px;
  line-height: 95%;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1310px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .services__item {
    max-width: 19%;
  }

  .advantages__item {
    width: 31.3%;
  }
}

@media (max-width: 1210px) {
  .container {
    max-width: 991px;
    margin: 0 auto;
  }

  .header-contact {
    gap: 15px;
  }

  .main__wrapper {
    height: 719px;
  }

  .main-top__left h1 {
    font-size: 56px;
    line-height: 115%;
  }

  .main-bottom__link a {
    padding: 26px 0;
  }

  .repair__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .repair__rigth .swiper-pagination {
    top: 100px;
  }

  .repair__rigth {
    max-width: 100%;
  }

  .services__item {
    max-width: 23.8%;
  }

  .about__rigth {
    max-width: 440px;
    height: auto;
  }

  .reviews__item:nth-child(1) {
    width: 49%;
  }

  .reviews__item:nth-child(2) {
    width: 49%;
  }

  .reviews__item:nth-child(3) {
    margin-top: 18px;
    width: 32%;
  }

  .reviews__item:nth-child(4) {
    margin-top: 18px;
    width: 32%;
  }

  .reviews__item:nth-child(5) {
    margin-top: 18px;
    width: 32%;
  }

  .price__col {
    width: 49%;
  }

  .advantages__item {
    width: 48%;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .header-logo img {
    width: 150px;
  }

  .header-contact__col:last-child {
    display: none;
  }

  .header-feedback {
    display: none;
  }

  .header-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-bottom {
    display: none;
  }

  .main-top__left h1 {
    font-size: 45px;
    line-height: 115%;
  }

  .main-top__rigth p {
    font-size: 20px;
  }

  .main-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }

  .services__item {
    max-width: 32%;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__rigth {
    margin-top: 24px;
    max-width: 100%;
    height: auto;
  }

  .promotion__item {
    width: 100%;
  }

  .promotionSwiper .swiper-button-next,
  .promotionSwiper .swiper-button-prev {
    display: none;
  }

  .advantages__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }

  .footer__rigth {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .footer__block p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    margin: 0 auto;
  }

  .header-contact__tell a span {
    font-size: 12px;
  }

  .header-contact__tell p {
    font-size: 10px;
  }

  .repair__left h2 {
    font-size: 28px;
  }

  .repair__rigth .swiper-pagination {
    position: absolute;
    text-align: center;
    top: auto;
    bottom: 0;
  }

  .repair__rigth .swiper-horizontal > .swiper-pagination-bullets,
  .repair__rigth .swiper-pagination-bullets.swiper-pagination-horizontal,
  .repair__rigth .swiper-pagination-custom,
  .repair__rigth .swiper-pagination-fraction {
    bottom: -25px;
  }

  .repair__item {
    max-width: 185px;
  }

  .services__title h2 {
    font-size: 28px;
  }

  .services__items {
    height: 315px;
    overflow: hidden;
  }

  .services__item p {
    font-size: 16px;
    line-height: 100%;
  }

  .services__item {
    max-width: 30%;
    height: 150px;
    padding: 12px;
    background-size: 70%;
  }

  .about__title h2 {
    font-size: 28px;
  }

  .promotion__title h2 {
    font-size: 28px;
  }

  .promotion__item {
    width: 100%;
  }

  .reviews__title h2 {
    font-size: 28px;
  }

  .price__title h2 {
    font-size: 28px;
  }

  .price__col {
    width: 100%;
  }

  .sert__title h2 {
    font-size: 28px;
  }

  .advantages__item {
    width: 100%;
  }

  .footer__title h2 {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 13px;
  }

  .header-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 8px;
  }

  .header-logo {
    display: none;
  }

  .header-logo img {
    max-width: 63px;
    width: 100%;
    height: 30px;
  }

  .header-contact {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header-contact__img {
    width: 18px;
    height: 18px;
  }

  .header-contact__tell a span {
    font-size: 12px;
  }

  .header-contact__tell p {
    font-size: 9px;
  }

  .header-contact {
    gap: 8px;
  }

  .header-btn {
    width: 25px;
    height: 25px;
  }

  .header-menu.open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    width: 100%;
  }

  .main__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main {
    background-position: -450px 0;
  }

  .main-top__left p {
    font-size: 16px;
  }

  .main-top__left h1 {
    font-size: 32px;
  }

  .main-top__left {
    gap: 12px;
  }

  .main-top {
    gap: 24px;
  }

  .main-top {
    margin-top: 137px;
  }

  .repair__left h2 {
    font-size: 20px;
    line-height: 95%;
  }

  .repair__rigth .repair-btn button {
    font-size: 12px;
    line-height: 100%;
  }

  .repair__item a p {
    font-size: 8px;
    line-height: 12px;
  }

  .repair__item {
    max-width: 109px;
  }

  .repair {
    padding: 34px 0;
  }

  .services__title h2 {
    font-size: 20px;
    line-height: 95%;
  }

  .services__items {
    height: 203px;
    overflow: hidden;
    gap: 8px;
  }

  .services__item p {
    font-size: 10px;
    line-height: 100%;
  }

  .services__item {
    max-width: 31%;
    height: 94px;
    padding: 12px;
    background-size: 70%;
  }

  .services__img {
    width: 24px;
    height: 24px;
    border-radius: 6px;
  }

  .services__img img {
    width: 12px;
    height: 12px;
  }

  .services {
    padding: 32px 0;
  }

  .about__title h2 {
    font-size: 20px;
    line-height: 95%;
  }

  .about__img {
    width: 28px;
    height: 28px;
  }

  .about__text h3 {
    font-size: 16px;
  }

  .about__text p {
    font-size: 14px;
  }

  .about__text span {
    font-size: 12px;
  }

  .about {
    padding: 32px 0;
  }

  .promotion__title h2 {
    font-size: 20px;
    line-height: 95%;
  }

  .promotion__item p {
    font-size: 14px;
  }

  .promotion {
    padding: 32px 0;
  }

  .reviews__title h2 {
    font-size: 20px;
    line-height: 95%;
  }

  .reviews__item:nth-child(1) {
    width: 100%;
  }

  .reviews__item:nth-child(2) {
    margin-top: 10px;
    width: 49%;
  }

  .reviews__item:nth-child(3) {
    margin-top: 10px;
    width: 49%;
  }

  .reviews__item:nth-child(4) {
    margin-top: 10px;
    width: 49%;
  }

  .reviews__item:nth-child(5) {
    margin-top: 10px;
    width: 49%;
  }

  .price__title h2 {
    font-size: 20px;
    line-height: 95%;
  }

  .price__box {
    margin-top: 18px;
  }

  .price__tab p {
    font-size: 10px;
  }

  .price__tab img {
    width: 12px;
    height: 12px;
  }

  .price__tabs {
    gap: 5px;
  }

  .price__tab {
    padding: 6px 8px;
  }

  .price__list {
    margin-top: 18px;
  }

  .price__row p {
    font-size: 12px;
  }

  .price__row span {
    font-size: 12px;
  }

  .price__row {
    padding-bottom: 8px;
    margin-top: 8px;
  }

  .price {
    padding: 32px 0;
  }

  .form__content form {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }

  .form__content {
    padding: 24px;
  }

  .form {
    padding: 32px 0;
  }

  .sert__title h2 {
    font-size: 20px;
    line-height: 95%;
  }

  .sert__slider .swiper .swiper-button-next,
  .sert__slider .swiper .swiper-button-prev {
    display: none;
  }

  .sert {
    padding: 32px 0 60px;
  }

  .advantages__items {
    gap: 14px;
  }

  .advantages__item {
    gap: 12px;
    padding: 16px;
  }

  .advantages__img {
    width: 24px;
    height: 24px;
  }

  .advantages__img img {
    width: 100%;
    height: 100%;
  }

  .advantages__text p {
    font-size: 14px;
  }

  .advantages__text span {
    font-size: 12px;
  }

  .footer__left {
    padding-top: 32px;
    gap: 18px;
  }

  .footer__title h2 {
    font-size: 20px;
    line-height: 95%;
  }

  .footer__top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__col:nth-child(2) {
    display: none;
  }

  .footer__rigth iframe {
    height: 231px;
  }

  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }

  .footer__block p {
    font-size: 14px;
    text-align: center;
  }

  .footer__block p br {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .main-bottom__link:nth-child(1),
  .main-bottom__link:nth-child(2) {
    display: none;
  }

  .main-bottom__link:last-child {
    max-width: 100%;
  }

  .main-bottom__link:last-child a {
    font-size: 16px;
    padding: 12px 0;
  }

  .main-bottom__link:last-child a:hover {
    background-color: none;
  }
}

@media (max-width: 440px) {
  .footer__top p {
    font-size: 16px;
  }

  .footer__top span {
    font-size: 12px;
  }

  .footer__input a {
    font-size: 12px;
  }

  .footer__input p {
    font-size: 12px;
  }

  .footer__input span {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .form__top input {
    font-size: 14px;
  }

  .form__center p {
    font-size: 16px;
  }

  .form__center label span {
    font-size: 14px;
  }

  .form__bottom button {
    font-size: 12px;
    padding: 10.5px;
  }
}