<div class="header-bottom">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__link"><a href="{{ path('app_home') }}">Главная</a></li>
            <li class="nav__link"><a href="{{ path('app_home') }}#about">О компании</a></li>
            <li class="nav__link"><a href="{{ path('app_home') }}#services">Услуги</a></li>
            <li class="nav__link"><a href="">Корпоративным клиентам</a></li>
            {#<li class="nav__link"><a href="#reviews">Отзывы</a></li>#}
            <li class="nav__link"><a href="#certificates">Сертификаты</a></li>
            {#<li class="nav__link"><a href="">Фотогалерея</a></li>#}
            <li class="nav__link"><a href="#price">Цены</a></li>
            <li class="nav__link"><a href="#contacts">Контакты</a></li>
        </ul>
    </nav>
</div>