<header class="header">
    <div class="container">
        <div class="header__inner">
            {{ include('elements/header/header-top.html.twig') }}
            {{ include('elements/header/header-bottom.html.twig') }}
        </div>
    </div>
</header>
