<section>
    <div class="form">
        <div class="container">
            <div class="form__wrapper">
                <div class="form__modal">
                    <div class="form__content">
                        <h2>Оставить заявку</h2>
                        <form>
                            <div class="form__top">
                                <input type="text" placeholder="Ваше имя" />
                                <input
                                        type="tel"
                                        placeholder="Номер телефона"
                                        class="phone"
                                />
                            </div>
                            <div class="form__center">
                                <p>Какой сервис вам будет удобен?</p>
                                <label>
                                    <input type="radio" name="address" checked />
                                    <span>1-й Силикатный проезд, 19/2с26</span>
                                </label>
                                <label>
                                    <input type="radio" name="address" />
                                    <span>ул. Ибрагимова 31 ас4</span>
                                </label>
                            </div>
                            <div class="form__bottom">
                                <button>Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>