<section class="button-section">
    <div class="container">
        <div class="button-group">
            <button class="button button--dark open-form-btn" href="#">
                ДИАГНОСТИКА
            </button>

            <button class="button button--light open-form-btn" href="#">
                ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
            </button>

            <button class="button button--dark open-form-btn" href="#">
                ЗАЯВКА НА ЭВАКУАТОР
            </button>
        </div>
    </div>
</section>
